/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoRow {
  display: flex;
  justify-content: center;
  margin: 0rem;
}

.logo {
  width: clamp(14rem, 30vw, 22rem);
  height: clamp(14rem, 30vw, 22rem);
  fill: currentColor;
}
